.row{
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap:5px ;
}
.col{
    margin-top: 20px;
    height: 20px;
    flex:4;
    background-color: aqua;
    color: aliceblue;
}
.col-2{
    margin-top: 20px;
    height: 20px;
    flex:8;
    background-color: aqua;
    color: aliceblue;
}
.col-3{
    margin-top: 20px;
    height: 20px;
    flex:12;
    background-color: aqua;
    color: aliceblue;
}